<div ui-view>
  <h1>Projects</h1>
  <div class="text-center">
    <div class="btn-group">
      <a ui-sref=".new" class="btn btn-success" ng-show="user.id">Add New Project</a>
    </div>
  </div>

  <div ng-repeat="project in projects" ng-class="{row: $index % 3 == 2}">
    <div class="col-md-4 project">
      <ul class="text-center">    
        <h2>{{project.title}}</h2>
        <li>
          <a ui-sref=".show({id: project.id})">
            <img ng-src="{{project.image_medium}}" 
                 class="img-responsive img-rounded center-block" 
                 alt="{{project.title}}" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>