<div ui-view class="row">
  <h1>{{project.title}}</h1>
  <div class="col-md-6 col-md-offset-3 project">
    <ul class="text-center">
      <li>
        <a href="http://{{project.link}}">
          <img ng-src="{{project.image_large}}" 
               class="img-responsive img-rounded center-block"
               alt="{{project.title}}" />
        </a>
      </li>
      <li><b>Description</b></li><li class="word-wrap">{{project.description}}</li>
      <li>
        <div class="btn-group">
          <a href="http://{{project.link}}" class="btn btn-large btn-info">Visit the website!</a>
        </div>
      </li>
      <li ng-show="user.id">
        <div class="btn-group">
          <a ui-sref="^.edit({id: project.id})" 
             class="btn btn-large btn-primary">Edit Project</a>
        </div>
        <div class="btn-group">
          <a ng-confirm-click
             confirmed-click="delete(project)"
             href
             rel="nofollow"
             class="btn btn-large btn-danger">Delete Project</a>
        </div>
      </li>
    </ul>
  </div>
</div>