<footer class="container navbar navbar-static-bottom" role="navigation">
  <nav>
    <ul class="nav navbar-nav">
      <li><a href="https://facebook.com/drakken.saer"><%= image_tag("facebook-icon.png") %></a></li>
      <li><a href="https://github.com/drakkensaer"><%= image_tag("github-icon.png") %></a></li>
      <li><a href="http://stackoverflow.com/users/2514481/drakken-saer"><%= image_tag("stackoverflow-icon.png") %></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://github.com/drakkensaer/portfolio">Source code</a></li>
      <li><a ui-sref="root.resume" ng-show="resume.id || user.id" target="_blank">Resume</a></li>
      <li ng-show="user.id"><a ui-sref="root.messages">Messages</a></li>
      <li ng-show="user.id"><a href ng-click='signOut()'>Logout</a></li>
    </ul>
  </nav>
</footer>