<div class="container-fluid white">
  <footer class="container navbar navbar-static-bottom">
    <nav>
      <ul class="nav navbar-nav">
        <li><a href="https://facebook.com/DemonFromHeaven"><%= image_tag("facebook.png") %></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/drakkensaer/portfolio">Source code</a></li>
        <li><a href="https://github.com/drakkensaer">GitHub</a></li>
        <li><a ui-sref="resume" target="_blank">Resume</a></li>
        <li ng-show="user.id"><a ui-sref="messages">Messages</a></li>
        <li ng-show="user.id"><a href ng-click='signOut()'>Logout</a></li>
      </ul>
    </nav>
  </footer>  
</div>