<header class="navbar navbar-inverse navbar-fixed-top width-100" ng-controller="HeaderCtrl">
  <a href="" id="slide-header"></a>
  <div class="container">
    <nav>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">Saer Designs</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/" class="nav-link" ng-class="{active:isActive('/')}">Home</a></li>
          <li><a href="about" class="nav-link" ng-class="{active:isActive('/about')}">About me</a></li>
          <li><a href="contact" class="nav-link" ng-class="{active:isActive('/contact')}">Contact me</a></li>
          <li><a href="jobs" class="nav-link" ng-class="{active:isActive('/jobs')}" ng-show="user.id || jobs[0]">Work experience</a></li>
          <li><a href="portfolio" class="nav-link" ng-class="{active:isActive('/portfolio')}" ng-show="user.id || projects[0] || photos[0]">Portfolio</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>