<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form ng-submit="save(resume)" 
          accept-charset="UTF-8" 
          enctype="multipart/form-data" 
          role="form"
          name="form"
          novalidate>
      <div ng-include="'shared/error_messages.html'"></div>

      <div class="form-group">
        <label for="header">Header Title (typically a name)</label>
        <input ng-model="resume.header" 
               class="form-control" 
               id="header" 
               name="header" 
               type="text"
               required
               ng-disabled="resume.id"
               placeholder= "Drakken (or Adela) Saer"/>
        <div ng-class="{'alert alert-danger':form.header.$invalid}" 
             ng-show="form.$submitted || form.header.$touched">
          <div ng-show="form.header.$error.required">Header can't be blank.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="link">Portfolio Link</label>
        <input ng-model="resume.link" 
               class="form-control" 
               id="link"
               name="link" 
               type="text"
               ng-disabled="resume.id"
               placeholder="www.saerdesigns.com" />
      </div>

      <div class="form-group">
        <label for="address">Mailing Address (use ";" to create new line)</label>
        <textarea ng-model="resume.address" 
                  class="form-control" 
                  id="address" 
                  name="address" 
                  type="text"
                  ng-disabled="resume.id"
                  placeholder="26180 SW Canyon Creek RD; Apt 104; Wilsonville, OR; 97070; USA" >
        </textarea>
      </div>

      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input ng-model="resume.phone" 
               class="form-control" 
               id="phone" 
               name="phone" 
               type="text"
               ng-disabled="resume.id"
               placeholder="678-439-8431" />
      </div>

      <div class="form-group">
        <label for="email">Email Address</label>
        <input ng-model="resume.email" 
               class="form-control" 
               id="email" 
               name="email" 
               type="text"
               ng-disabled="resume.id"
               placeholder="shadowdrakkeen@gmail.com" />
      </div>

      <div class="form-group">
        <label for="position">Desired Position</label>
        <input ng-model="resume.position" 
               class="form-control" 
               id="position" 
               name="position" 
               type="text"
               ng-disabled="resume.id"
               placeholder="Web Developer / Designer (Ruby on Rails & AngularJS)" />
      </div>

      <div class="form-group">
        <label for="qualifications">Qualifications</label>
        <textarea ng-model="resume.qualifications" 
                  class="form-control" 
                  id="qualifications" 
                  name="qualifications"
                  ng-disabled="resume.id"
                  placeholder="6+ years experience with web technologies; Solid organizational and planning skills; Knowledge of SEO tactics and practices; Experience with UI & design; Knowledge of MVC implementations; Knowledge of RESTful software architecture" >
        </textarea>
      </div>

      <div class="form-group">
        <label for="skills">Skills</label>
        <textarea ng-model="resume.skills" 
                  class="form-control" 
                  id="skills" 
                  name="skills" 
                  type="text"
                  ng-disabled="resume.id"
                  placeholder="Ruby on Rails, AngularJS, Heroku, Git, AJAX, jQuery, Javascript, CSS3, HTML5, SQL deployment, UNIX, Bootstrap, Ruby, PHP, MySQL, LESS CSS, SASS, Angular JS, PostgreSQL, WordPress, Windows OS, MacOS, Linux, LivePerson Administration, Windows Phone OS, Customer Service, Android OS, Nitrous.IO" >
        </textarea>
      </div>

      <div class="page-header text-center">
        <h3>Education</h3>
        <a href
           class="glyphicon glyphicon-plus"
           ng-click="number = number+1"></a>
        <a href 
           class="glyphicon glyphicon-minus"
           ng-click="number = number-1"></a>
      </div>
      <div class="form-group" ng-repeat="i in getNumber(number) track by $index">
        <label for="school-title">School Title</label>
        <input ng-model="resume.schools[$index].title" 
               class="form-control"
               name="school-title" 
               type="text"
               ng-disabled="resume.id"
               placeholder="Example University" />
        <label for="school-years">Years Attended</label>
        <input ng-model="resume.schools[$index].years" 
               class="form-control"
               name="school-years" 
               type="text"
               ng-disabled="resume.id"
               placeholder="2010-2014" />
        <label for="school-description">Description of School</label>
        <textarea ng-model="resume.schools[$index].description" 
                  class="form-control"
                  name="school-description" 
                  type="text"
                  ng-disabled="resume.id"
                  placeholder="During my time at this institution I learned many things." >
        </textarea>
      </div>

      <div class="text-center">
        <div class="btn-group">  
          <input class="btn btn-large btn-primary" 
                 name="commit" 
                 type="submit" 
                 value="Submit"
                 ng-disabled="form.$invalid || resume.id" />
        </div>
        <div class="btn-group">
          <a ui-sref="^.show" class="btn btn-large btn-default">&larr; Cancel</a>
        </div>
      </div>
    </form>  
  </div>
</div>