<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form ng-submit="save(resume)" 
          accept-charset="UTF-8" 
          enctype="multipart/form-data" 
          role="form"
          name="form"
          novalidate>
      <div ng-include="'shared/error_messages.html'"></div>

      <div class="form-group">
        <label for="header">Header Title (typically a name)</label>
        <input ng-model="resume.header" 
               class="form-control" 
               id="header" 
               name="header" 
               type="text"
               required
               ng-disabled="resume.id" />
        <div ng-class="{'alert alert-danger':form.header.$invalid}" 
             ng-show="form.$submitted || form.header.$touched">
          <div ng-show="form.header.$error.required">Title can't be blank.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="link">Portfolio Link</label>
        <input ng-model="resume.link" 
               class="form-control" 
               id="link"
               name="link" 
               type="text"
               ng-disabled="resume.id" />
      </div>

      <div class="form-group">
        <label for="address">Mailing Address</label>
        <textarea ng-model="resume.address" 
                  class="form-control" 
                  id="address" 
                  name="address" 
                  type="text"
                  ng-disabled="resume.id" >
        </textarea>
      </div>

      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input ng-model="resume.phone" 
               class="form-control" 
               id="phone" 
               name="phone" 
               type="text"
               ng-disabled="resume.id" />
      </div>

      <div class="form-group">
        <label for="email">Email Address</label>
        <input ng-model="resume.email" 
               class="form-control" 
               id="email" 
               name="email" 
               type="text"
               ng-disabled="resume.id" />
      </div>

      <div class="form-group">
        <label for="position">Desired Position</label>
        <input ng-model="resume.position" 
               class="form-control" 
               id="position" 
               name="position" 
               type="text"
               ng-disabled="resume.id" />
      </div>

      <div class="form-group">
        <label for="qualifications">Qualifications</label>
        <textarea ng-model="resume.qualifications" 
                  class="form-control" 
                  id="qualifications" 
                  name="qualifications"
                  ng-disabled="resume.id">
        </textarea>
      </div>

      <div class="form-group">
        <label for="skills">Skills</label>
        <textarea ng-model="resume.skills" 
                  class="form-control" 
                  id="skills" 
                  name="skills" 
                  type="text"
                  ng-disabled="resume.id">
        </textarea>
      </div>

      <label for="school_references">Schools</label>


      <div class="text-center">
        <div class="btn-group">  
          <input class="btn btn-large btn-primary" 
                 name="commit" 
                 type="submit" 
                 value="Submit"
                 ng-disabled="form.$invalid || resume.id" />
        </div>
        <div class="btn-group">
          <a ui-sref="^.show" class="btn btn-large btn-default">&larr; Cancel</a>
        </div>
      </div>
    </form>  
  </div>
</div>