<div class="resume text-center">
  <div id="resume-header">
    <h2>{{resume.header}}</h2>
    <a ui-sref="^.home">{{resume.link}}</a>
    <address>
      {{resume.address}}
    </address>
    <ul class="nav pull-left">
      {{resume.phone}}
    </ul>
    <ul class="nav pull-right">
      <a href="mailto:{{resume.email}}">{{resume.email}}</a>
    </ul><br>
    <hr> 
  </div>
  <div id="resume-body" class="col-md-6 col-md-offset-3"> 
    <div id="position">
      <h2>Position desired</h2>
      {{resume.position}}
    </div>
    <div id="qualifications">
      <h2>Qualifications</h2>
      {{resume.qualifications}}
    </div>
    <div id="skills">
      <h2>Skills</h2>
      {{resume.skills}}
    </div>
    <div id="history">
      <h2>Work History</h2>
      <div ng-repeat="job in jobs">
        <li><a ui-sref='^.jobs.show({id: job.id})'><h3>{{job.title}}</h3></a></li>
        <li>{{job.company}}</li>
        <li ng-show="job.years">{{job.years}}</li>
        <li class="word-wrap">{{job.description}}</li>
        <br>
        <div ng-show="job.references[0]">
          <li><b>Professional References</b></li>
          <li ng-repeat="person in job.references track by $index">{{person.reference}}</li>
        </div>
      </div>
    </div>
    <div id="education">
      <h2>Education</h2>
      <div ng-repeat="school in resume.schools">
        <li><h3>{{school.title}}</h3></li>
        <li><small>{{school.years}}</small></li>
        <li>{{school.description}}</li>
      </div>
    </div>
  </div>
</div>