<div class="resume">
  <div id="resume-header">
    <h2>Ian (Drakken or Adela) Coutu</h2>
    <a ui-sref="home">www.saerdesigns.com</a>
    <address>
      26180 SW CANYON CREEK RD<br>
      APT 104<br>
      WILSONVILLE, OR<br>
      97070
    </address>
    <ul class="nav pull-left">
      678-439-8431
    </ul>
    <ul class="nav pull-right">
      <a href="mailto:shadowdrakkeen@gmail.com">shadowdrakkeen@gmail.com</a>
    </ul><br>
    <hr> 
  </div>
  <div id="resume-body">
    <div id="position">
      <h2>Position desired</h2>
      Ruby on Rails developer
    </div>
    <div id="qualifications">
      <h2>Qualifications</h2>
      6+ years experience with web technologies<br>
      Solid organizational and planning skills<br>
      Knowledge of SEO tactics and practices<br>
      Experience with UI & design<br>
      Knowledge of MVC implementations<br>
    </div>
    <div id="skills">
      <h2>Skills</h2>
      Ruby on Rails, Heroku, Git, AJAX, jQuery, Javascript, CSS3, HTML5, SQL deployment, UNIX, Bootstrap, Ruby, PHP, MySQL, LESS CSS, SASS, Angular JS, PostgreSQL, WordPress, Windows, MacOS, Linux, LivePerson Administration, Windows Phone OS, Customer Service
    </div>
    <div id="history">
      <h2>Work History</h2>
      <div ng-repeat="job in jobs">
        <li><a ui-sref='jobs({id: job.id})'><h3>{{job.title}}</h3></a></li>
        <li>{{job.company}}</li>
        <li ng-show="job.years">{{job.years}}</li>
        <li class="word-wrap">{{job.description}}</li>
        <br>
        <div ng-show="job.references[0]">
          <li><b>Professional References</b></li>
          <li ng-repeat="person in job.references track by $index">{{person.reference}}</li>
        </div>
      </div>
    </div>
    <div id="education">
      <h2>Education</h2>
      <h3>Kennesaw State University</h3>
      Completed non-degree course in philosophy and computer theory
    </div>
  </div>
</div>