<p class="summary">
  Want to say hello, or drop me an email? Feel free! I usually reply back within 24 hours on weekdays. I'll do my best to get back to you as soon as possible, I usually reply within 24 hours on weekdays. Thanks for contacting me!
</p>