<% provide(:title, 'Messages') %>

<h1>Messages</h1>

<!-- Russian doll cache model data and then render it onto page -->
<% cache(@messages) do %>
<div class="contact">
  <% if @messages.empty? %>
    <h3 class="center"> Nothing new to show! </h3>
  <% else %>
    <% @messages.each_slice(2) do |slice| %>
      <% cache(slice) do %>
      <div class="row">
        <% slice.each do |message| %>
        <%= render 'messages/display', message: message, col_size: 'col-md-6' %>
        <% end %>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<% end %>