<h1>Messages</h1>

<div class="contact">
  <div ui-view>
    <div ng-hide="messages[0]">
      <h3 class="center">Nothing new to show!</h3>
    </div>

    <table class="table table-striped">
      <tr ng-repeat="message in messages">
        <td>{{message.created_at | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
        <td>{{message.email}}</td>
        <td class="word-wrap"><b>{{message.subject}}</b></td>
        <td>
          <a ui-sref="^.messages.show({id: message.id})">View message</a>
        </td>
      </tr>
    </table>
  </div>
</div>