<h1>Contact me</h1>

<div class="contact">
  <p class="summary">
    Want to say hello, or drop me an email? Feel free, I don't bite, I promise! I'll do my best to get back to you as soon as possible, I usually reply within 24 hours on weekdays. Thanks for contacting me!
  </p>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form name="form" ng-submit="save(message)" accept-charset="UTF-8" role="form" novalidate>
        <div ng-include="'shared/error_messages.html'"></div>
        <div class="form-group">
          <label for="email">Email</label>
          <input ng-model="message.email"
                 class="form-control" 
                 id="email" 
                 name="email" 
                 type="email"
                 placeholder="example@saerdesigns.com"
                 ng-disabled="message.id"
                 ng-minlength="6"
                 maxlength="50"
                 required />
          <div ng-class="{'alert alert-danger':form.email.$invalid}" ng-show="form.$submitted || form.email.$touched">
            <div ng-show="form.email.$error.required">Email can't be blank.</div>
            <div ng-show="form.email.$error.minlength">Email is too short (minimum is 6 characters).</div>
            <div ng-show="form.email.$error.email">Email format must be valid (example@example.com).</div>
          </div>
        </div>

        <div class="form-group">
          <label for="subject">Subject</label>
          <input ng-model="message.subject"
                 class="form-control" 
                 id="subject" 
                 name="subject" 
                 type="text"
                 placeholder="I'd like to hire you!"
                 ng-disabled="message.id"
                 ng-minlength="6"
                 maxlength="50"
                 required />
          <div ng-class="{'alert alert-danger':form.subject.$invalid}" ng-show="form.$submitted || form.subject.$touched">
            <div ng-show="form.subject.$error.required">Subject can't be blank.</div>
            <div ng-show="form.subject.$error.minlength">Subject is too short (minimum is 6 characters).</div>
          </div>
        </div>

        <div class="form-group">
          <label for="body">Body</label>
          <textarea ng-model="message.body"
                    class="form-control" 
                    id="body" 
                    name="body"
                    placeholder="Say something nice!"
                    ng-disabled="message.id"
                    ng-minlength="6"
                    required >
          </textarea>
          <div ng-class="{'alert alert-danger':form.body.$invalid}" ng-show="form.$submitted || form.body.$touched">
            <div ng-show="form.body.$error.required">Body can't be blank.</div>
            <div ng-show="form.body.$error.minlength">Body is too short (minimum is 6 characters).</div>
          </div>
        </div>

        <div class="center">
          <div class="btn-group">  
            <input class="btn btn-large btn-primary" 
                   name="commit" 
                   type="submit" 
                   value="Submit"
                   ng-disabled="message.id || form.$invalid" />
          </div>
        </div>
      </form>  
    </div>
  </div>
</div>