<div ui-view>
  <h1>Photography</h1>

  <div class="text-center">
    <div class="btn-group">
      <a ui-sref=".new" class="btn btn-success" ng-show="user.id">Add New Photo</a>
    </div>
  </div>

  <div ng-repeat="photo in photos" ng-class="{row: $index % 3 == 2}">
    <div class="col-md-4 photo text-center">
      <ul>
        <li>
          <a href="{{photo.image_large}}" 
             title="{{photo.title}}" 
             rel="gallery">
            <img ng-src="{{photo.image_small}}" 
                 class="img-responsive img-rounded center-block" 
                 alt="{{photo.title}}" />
          </a>
        </li>
        <li ng-show="user.id">
          <a ui-sref=".edit({id: photo.id})">Edit Photo</a> |
          <a ng-confirm-click
             confirmed-click="delete(photo)"
             href
             rel="nofollow">
            Delete Photo
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>