<% provide(:title, 'Work history') %>

<h1>Work history</h1>

<% if signed_in? %>
<%= link_to 'Add new work experience', new_job_path, class: 'center' %>
<% end %>

<% @jobs.each_slice(2) do |slice| %>
<div class="row">
  <% slice.each do |job| %>
  <%= render 'jobs/display', size: :medium, job: job, col_size: 'col-md-6', img_type: "img-responsive" %>
  <% end %>
</div>
<% end %>

<%= will_paginate @jobs %>