<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form ng-submit="save(job)" accept-charset="UTF-8" enctype="multipart/form-data" novalidate>
      <label for="job_title">Title</label>
      <input ng-model="job.title" 
             class="form-control" 
             id="job_title" 
             name="job[title]" 
             type="text" 
             required />
      <div ng-repeat="error in errors.title" class="alert alert-danger">Title {{error}}</div>

      <label for="job_company">Company</label>
      <input ng-model="job.company" 
             class="form-control" 
             id="job_company" 
             name="job[company]" 
             type="text" 
             required />
      <div ng-repeat="error in errors.company" class="alert alert-danger">Company {{error}}</div>

      <label for="job_years">Years</label>
      <input ng-model="job.years" 
             class="form-control" 
             id="job_years" 
             name="job[years]" 
             type="text" />
      <div ng-repeat="error in errors.years" class="alert alert-danger">Years {{error}}</div>

      <label for="job_manager">Manager</label>
      <input ng-model="job.manager" 
             class="form-control" 
             id="job_manager" 
             name="job[manager]" 
             type="text" />
      <div ng-repeat="error in errors.manager" class="alert alert-danger">Manager {{error}}</div>

      <label for="job_contact">Contact</label>
      <input ng-model="job.contact" 
             class="form-control" 
             id="job_contact" 
             name="job[contact]" 
             type="text" />
      <div ng-repeat="error in errors.contact" class="alert alert-danger">Contact {{error}}</div>

      <label for="job_address">Address</label>
      <input ng-model="job.address" 
             class="form-control" 
             id="job_address" 
             name="job[address]" 
             type="text" />
      <div ng-repeat="error in errors.address" class="alert alert-danger">Address {{error}}</div>

      <label for="job_description">Description</label>
      <textarea ng-model="job.description" 
                class="form-control" 
                id="job_description" 
                name="job[description]" 
                required>
      </textarea>
      <div ng-repeat="error in errors.description" class="alert alert-danger">Description {{error}}</div>

      <label for="job_skills">Skills</label>
      <input ng-model="job.skills" 
             class="form-control" 
             id="job_skills" 
             name="job[skills]" 
             type="text" />
      <div ng-repeat="error in errors.skills" class="alert alert-danger">Skills {{error}}</div>

      <!-- Regarding nested forms
http://www.angularjshub.com/examples/forms/nestedforms/
http://www.dahuatu.com/oYwKqzYPyE.html
-->
      
      <label for="job_references">References</label>

      <input ng-model="job.references[0].reference" 
             class="form-control" 
             id="job_references_attributes_0_reference" 
             name="job[references_attributes][0][reference]" 
             type="text" />
      
      <input ng-model="job.references[1].reference"
             class="form-control" 
             id="job_references_attributes_1_reference" 
             name="job[references_attributes][1][reference]" 
             type="text" />

      <input ng-model="job.references[2].reference"
             class="form-control" 
             id="job_references_attributes_2_reference" 
             name="job[references_attributes][2][reference]" 
             type="text" />

      <input ng-model="job.references[3].reference"
             class="form-control" 
             id="job_references_attributes_3_reference" 
             name="job[references_attributes][3][reference]" 
             type="text" />

      <input ng-model="job.references[4].reference"
             class="form-control" 
             id="job_references_attributes_4_reference" 
             name="job[references_attributes][4][reference]" 
             type="text" />

      <label for="job_image">Image</label>
      <input ng-model="job.image" 
             class="width-100" 
             id="job_image" 
             name="job[image]" 
             type="file"
             ngf-select
             accept="image/*" 
             ngf-max-size="5MB" />
      <div ng-repeat="error in errors.image" class="alert alert-danger">Image {{error}}</div>

      <div class="center">
        <div class="btn-group">  
          <input class="btn btn-large btn-primary" 
                 name="commit" 
                 type="submit" 
                 value="Submit" />
        </div>
        <div class="btn-group">
          <a ng-click="back()" href class="btn btn-large btn-default">&larr; Cancel</a>
        </div>
      </div>
    </form>  
  </div>
</div>