<div ui-view>
  <h1>Work history</h1>

  <div class="text-center">
    <div class="btn-group">
      <a ui-sref=".new" class="btn btn-success" ng-show="user.id">Add New Work Experience</a>
    </div>
  </div>

  <div ng-repeat="job in jobs" ng-class-even="row">
    <div class="col-md-6 job">
      <a ui-sref=".show({id: job.id})">
        <img alt="{{job.company}}" class="img-responsive center-block" ng-src="{{job.image_medium}}"/>
      </a>
      <ul class="text-center">
        <li>{{job.title}}</li>
      </ul>
    </div>
  </div>
</div>