<div ui-view>
  <h1>Work history</h1>

  <div class="center">
    <div class="btn-group">
      <a ui-sref=".new" class="btn btn-success" ng-show="user.id">Add New Work Experience</a>
    </div>
  </div>

  <div ng-repeat="job in jobs" ng-class-even="row">
    <div class="col-md-6 job">
      <div class="center"><a class="img-responsive img-darken center" ui-sref=".show({id: job.id})"><img alt="{{job.company}}" class="img-responsive" ng-src="{{job.image_medium}}"/></a></div>
      <ul class="center">
        <li>{{job.title}}</li>
      </ul>
    </div>
  </div>
</div>