<div ui-view class="row">
  <div class="col-md-6 col-md-offset-3 job">
    <h1><img alt="{{job.company}}" class="img-responsive center" ng-src="{{job.image_large}}"/></h1>
    <ul class="center"> 
      <li><h2>{{job.title}}</h2></li>
      <li><b>Company</b></li><li>{{job.company}}</li>
      <li ng-show="job.years"><b>Years at job</b></li><li>{{job.years}}</li>
      <li ng-show="job.manager"><b>Supervisor</b></li><li>{{job.manager}}</li>
      <li ng-show="job.contact"><b>Company contact</b></li><li>{{job.contact}}</li>
      <li ng-show="job.address"><b>Workplace address</b></li><li>{{job.address}}</li>
      <li><b>Description</b></li><li class="word-wrap">{{job.description}}</li>
      <li ng-show="job.skills"><b>Skills</b></li><li>{{job.skills}}</li>
      <div ng-show="job.references[0]">
        <li><b>Professional References</b></li>
        <li ng-repeat="person in job.references track by $index">{{person.reference}}</li>
      </div>
      <li>
        <div class="btn-group">
          <a ui-sref="^" class="btn btn-large btn-default">&larr; Back</a>
        </div>
      </li>
      <li ng-show="user.id">
        <div class="btn-group">
          <a ui-sref="^.show.edit" 
             class="btn btn-large btn-primary">Edit Job</a>
        </div>
        <div class="btn-group">
          <a ng-confirm-click
             confirmed-click="delete(job)"
             href
             rel="nofollow"
             class="btn btn-large btn-danger">Delete Job</a>
        </div>
      </li>
    </ul>
  </div>
</div>