<p class="summary">
  Hi there! I'm Adela (or Drakken, as I prefer), I'm a web developer with some design skills (as you can see from this website!), a musician with a home studio, as well as an alternative model for various photographers, I'm a bit of a weirdo and a nerd! I'm highly enthusiatic about functionality when it comes to coding, and passionate for detail when it comes to my modeling! I'm an Oregonian so I love my coffee! =)
</p>