<div class="<%= col_size %>">
  <div class="center">
    <h2><%= title %></h2>
    <%= link_to image_tag(object.image.url(size), class: img_type), link, class: "img-thumbnail img-darken" %>
  </div>
</div>