<% provide(:title, 'Home') %>

<section class="dark-overlay">
  <div class="bg-mountains">
  </div>
  <div>
    <div class="v-center container">
      <div class="jumbotron">
        <h1>Startup Framework is a set of components</h1>
        <p>
          We’ve created the product that will help your
          <br/>
          startup to look even better.
        </p>
      </div>
    </div>
  </div>
  <%= link_to ' ', '#', class: "glyphicon glyphicon-circle-arrow-down" %>
</section>

<script>
$("section").css( "height", $(window).height());
</script>