<% provide(:title, 'Portfolio') %>

<h1>Portfolio</h1>

<div class="row">
  <% @projects.each do |project| %>
  <%= render 'pages/display', title: "Projects", object: project, size: :medium, link: projects_path, col_size: "col-md-6", img_type: "img-responsive" %>
  <% end %>

  <% @photos.each do |photo| %>
  <%= render 'pages/display', title: "Modeling", object: photo, size: :medium, link: photos_path, col_size: "col-md-6", img_type: "img-responsive" %>
  <% end %>
</div>