<% provide(:title, 'Project') %>

<h1><%= @project.title %></h1>

<div class="row">
  <%= render 'projects/display', project: @project, link: @project.link, size: :large, col_size: "", description: @project.description, img_type: 'img-responsive img-rounded' %>
</div>