<div class="<%= col_size %> portfolio">
  <ul class="center">    
    <li><%= link_to image_tag(photo.image.url(size), class: img_type), photo.image.url('large'), class: img_type + " img-darken fancybox", title: photo.title, rel: "gallery" %></li>
    <% if signed_in? %>
    <li>
      <%= link_to 'Edit photo', edit_photo_path(photo) %> | 
      <%= link_to 'Delete photo', photo, method: :delete,  data:{confirm: "Are you sure?"} %>
    </li>
    <% end %>
  </ul>
</div>