<% provide(:title, "Modeling") %>
<%= content_for :page_script, javascript_include_tag('page-specific/photos-index') %>

<h1>Modeling</h1>

<!-- ability to add item to database if signed in -->
<% if signed_in? %>
<%= link_to 'Add new photo', new_photo_path, class: 'center' %>
<% end %>

<!-- Russian doll caching model data and then render results to page -->
<% @photos.each_slice(3) do |slice| %>
<div class="row">
  <% slice.each do |photo| %>
  <%= render 'photos/display', photo: photo, size: 'small', col_size: "col-md-4", img_type: "img-responsive img-rounded" %>
  <% end %>
</div>
<% end %>