<!-- SEO optimized summary -->
<div class="summary container text-center" itemscope itemtype="http://schema.org/Person">
  <p>
    Hi there! I'm <span itemprop="givenName">Lilith</span>. I'm a <span itemprop="jobTitle">web developer</span> with some design skills (as you can see from this website!), a musician with a home studio, as well as an <span itemprop="jobTitle">alternative model</span> for various photographers. I also enjoy doing a bit of photography myself! I'm a bit of a weirdo and a nerd! I'm highly enthusiastic about functionality when it comes to coding, and passionate for detail when it comes to my modeling! I'm an Oregonian so I love my coffee and tea! =) 
  </p>
  <hr>
  <p>
    Ever since I was a child I've been very interested in technology. I built my very first website using DreamWeaver when I was in the 6th grade. I've since moved onto more sophisticated ways to build web applications, however my enthusiasm has remained the same. My interest was never limited to just programming either; When I was young I always dreamed about becoming an astronaut. I loved keeping up with videos that NASA put out about their latest discoveries! The sky is the limit they say, but I don't plan on stopping there, I want to grow in as many fields as I possibly can!
  </p>
</div>