<div class="home">
  <section class="bg-main">
    <!--- <video-bg video-id="'s6zR2T9vn2c'" loop="true" mute="true" start="14" end="314"> --->
    <div class="dark-overlay"></div>
    <div class="container v-center">
      <div class="jumbotron">
        <h1>Web dev & design</h1>
        <p>
          Made fast, simple, and easy
        </p>
        <a href class="scroll-button center" scroll-on-click></a>
      </div>
    </div>
    <!--- </video-bg> --->
  </section>

  <div class="container-fluid white" id="scroll-send">
    <div class="row">
      <div class="container buffer">
        <div class="col-md-12">
          <div ng-include="'pages/_about_summary.html'"></div>
        </div>
        <div class="center">
          <div class="btn-group">
            <a href="about" class="btn btn-default btn-lg">About me</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="bg-ocean"></div>
    <div class="container v-center">
      <div class="jumbotron">
        <h1>Cool tricks for your webpage</h1>
      </div>
    </div>
  </section>

  <div class="container-fluid white" ng-show="jobs[0]">
    <div class="row buffer">
      <div ng-repeat="job in jobs" class="col-md-4 job">
        <h1><a class="img-responsive img-darken center" ui-sref="jobs.show({id: job.id})"><img alt="{{job.company}}" class="img-responsive" ng-src="{{job.image}}"/></a></h1>
        <ul class="center">
          <li>{{job.title}}</li>
        </ul>
      </div>
      <div class="center">
        <div class="btn-group">
          <a class="btn btn-default btn-lg" ui-sref="jobs">Work history</a>
        </div>
      </div>
    </div>
  </div>
</div>