@import "bootstrap-sprockets";
@import "bootstrap";

/* 
* =====================================================================
*                           AngularJS
*/

// headroom.js
.headroom {
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}


// ng-flash

#flash-messages {
  .success, .warning, .info, .danger {
    @extend .alert;
  }

  .success {
    @extend .alert-success;
  }

  .info {
    @extend .alert-info;
  }

  .danger {
    @extend .alert-danger;
  }

}



/* 
* =====================================================================
*                        Everything Else
*/



/* ===================== Universal ===================== */

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* contextual CSS */

html {
  overflow-y: scroll;
}

body {
  font-family: 'Abel', sans-serif;
  font-size: 150%;
  color: #393939;
  width: 100%;
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  padding-top: 70px;
}

ul, li {
  list-style: none;
}

.navbar {
  font-size: 120%;
  li {
    a {
      font-weight: bold;
    }
  }
}

/* textual CSS */

.word-wrap {
  /* wrap long text and urls */
  white-space: pre; /* CSS 2.0 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3.0 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  word-wrap: break-word; /* IE 5+ */
} 

/* positional CSS */

.v-center {
  height: 100vh;
  min-height: 100%;
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
}

.width-100 {
  width: 100%;
}

.absolute {
  z-index: 100;
  position: absolute;
}

/* CSS for links */

a {
  text-decoration: none;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  &:hover, &:active, &:link {
    text-decoration: inherit;
  }
}

.btn-group {
  margin: 1em 0;
}

.btn {
  border: 1px solid $gray-lighter;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 1em 3em;
}

.glyphicon {
  font-size: 15px;
  margin: 10px;
}

/* CSS for headers */

h1 {
  text-align: center;
  margin-bottom: 0.5em;
  letter-spacing: 0.22em;
  text-transform: uppercase;
  font-weight: 900;
}

/* sectional CSS */

section {
  height: 100vh;
  min-height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  &.section-no-scroll {
    overflow: hidden !important;
  }
}

/* CSS for images */

a {
  img {
    @extend a;
    &:hover {
      opacity: 0.8;
    }
  }
}

/* ===================== Header ===================== */

header {
  font-weight: bold;
  .navbar-brand {
    color: white !important;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
  li {
    .active {
      color: $gray-lighter !important; 
    }
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 0;
      background: transparent;
      transition: width .5s ease, background-color .5s ease;
    }
    &:hover:after {
      width: 100%;
      background: white;
    }
  }
}


/* ===================== Footer ===================== */

footer {
  margin-top: 45px;
  border-top: 3px solid $gray-lighter !important;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker !important;
    }
  }
}


/* ===================== Forms ===================== */

form {
  margin: 1em 0;
  input, textarea, select {
    margin-bottom: 15px;
  }

  textarea {
    height: 150px !important;
    resize: vertical;
  }
}


/* ===================== Home Page ===================== */

.home {
  &:first-child {
    margin-top: -70px;
  }
  .scroll-button {
    margin-top: 2em;
    font-size: 2em;
    @extend .glyphicon;
    @extend .glyphicon-chevron-down;
    color: inherit;
  }
  .buffer {
    padding: 70px 0;
  }
  #bg-first{
    background: image-url("alaska-mountain-range.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute; 
  }
  #bg-second {
    background: image-url("beach-overview.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute; 
  }
  #dark-overlay {
    background-color: black;
    min-height: 100%;
    height: 100vh;
    width: 100%;
    position: absolute;
    opacity: 0.2;
    filter: alpha(opacity=40); /* For IE8 and earlier */
  }
  .jumbotron {
    position: relative;
    background: none !important;
    color: white !important;
  }
}


/* ===================== Portfolio & Job pages ===================== */

.job, .project, .photo {
  ul {
    display: inline !important;
    li {
      margin-bottom: 2em;
    }
  }
}


/* ===================== Contact, Messages & About pages ===================== */

.summary {
  letter-spacing: 2px;
  font-size: 125%;
  font-weight: 500;
  hr {
    margin: 75px auto;
    width: 70%;
    border: none;
    height: 5px;
    color: #ccc; /* old IE */
    background-color: #ccc; /* Modern Browsers */
  }
}

.about {
  h1 {
    margin-top: 3em;
    margin-bottom: 1em;
  }
  h2 {
    text-align: center;
  }
}


/* ===================== Resume ===================== */

.resume {
  .glyphicon-plus {
    margin-right: -5px;
  }
  .glyphicon-pencil {
    margin-right: -30px;
    opacity: 0;
  }
  *:hover > .glyphicon-pencil {
    opacity: 1;
  }
  .page-header {
    border: none;
    margin: 0;
    h2, h3 {
      display: inline;
    }
  }
  #resume_body, #resume_header {
    font-family: 'Calibri';
    font-size: 125%;
    hr {
      border: 2px dashed #C0C0C0;
    }
    .form-control {
      margin: 0;
    }
  }
  #resume_body {
    div {
      margin-bottom: 1em;
    }
    h2 {
      text-decoration: underline;
    }
  }
  #resume_header {
    input {
      width: 400px;
      display: inline;
    }
  }
}

/* viewport-specific browsers */

@-ms-viewport{
  width: device-width;
}