<footer class="footer">
  <small>
    The current time is <%= Time.now %>
  </small>
  <nav>
    <ul>
      <% if signed_in? %>
        <li><%= link_to 'Logout', logout_path, method: :delete %></li>
      <% end %>  
    </ul>
  </nav>
</footer>

<%= debug(params) if Rails.env.development? %>